@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  min-height: 100vh;
  background-color: #C5E4E7;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s all ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

::placeholder {
  color: #9EBBBD;
  opacity: 1;
}

img,
video {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #3D6666;
  letter-spacing: 10px;
  padding-block: 2rem;
}

.input-container label {
  color: #5E7A7D;
  line-height: 2rem;
  font-weight: bold;
}
@media only screen and (width >= 1024px) {
  .input-container {
    max-width: 50%;
  }
}
.input-container .input-icon-container {
  width: 100%;
  background: #F3F9FA;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.25rem;
}
.input-container .input-icon-container img {
  color: #9EBBBD;
}
.input-container .input-icon-container input {
  color: #00474B;
  text-align: right;
  width: 100%;
  font-size: 1.5rem;
}
.input-container .input-icon-container.focus {
  border: 2px solid #26C2AE;
}
.input-container .tip-container {
  margin-block: 2rem;
}
.input-container .tip-container .tip-buttons-container {
  margin-top: 0.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media only screen and (width >= 768px) {
  .input-container .tip-container .tip-buttons-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.input-container .tip-container .tip-buttons-container button {
  color: #fff;
  background-color: #00474B;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
}
.input-container .tip-container .tip-buttons-container button:hover {
  background-color: #085C61;
  cursor: pointer;
}
.input-container .tip-container .tip-buttons-container button.active {
  background-color: #9FE8DF;
  color: #00474B;
}
.input-container .tip-container .tip-buttons-container input {
  text-align: center;
  background: #F3F9FA;
  border-radius: 0.25rem;
  color: #00474B;
}
.input-container .tip-container .tip-buttons-container input::placeholder {
  color: #0D686D;
}
.input-container .tip-container .tip-buttons-container .tip {
  width: 100%;
  font-size: 1.5rem;
}
.input-container .people-container .label-error-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (width >= 768px) {
  .input-container .people-container .label-error-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.input-container .people-container .label-error-container .error-message {
  color: #E17052;
  font-weight: bold;
  display: none;
}
.input-container .people-container .input-icon-container.error {
  border: 2px solid #E17052;
}

.output-container {
  background: #00474B;
  padding: 1.5rem;
  border-radius: 1rem;
}
@media only screen and (width >= 1024px) {
  .output-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.output-container .output-row {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.output-container .output-row .per-person {
  font-size: 0.8125rem;
  color: #7F9D9F;
}
.output-container .output-row .output-value {
  font-size: clamp(2rem, 6.5vw, 3rem);
  color: #26C2AE;
}
.output-container button {
  width: 100%;
  background-color: #26C2AE;
  color: #00474B;
  font-size: 1.25rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
}
.output-container button:hover {
  background-color: #9FE8DF;
  cursor: pointer;
}
.output-container button:disabled {
  background-color: #0D686D;
  color: #085C61;
  cursor: not-allowed;
}

.container {
  background-color: #fff;
  max-width: 375px;
  border-radius: 2rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media only screen and (width >= 700px) {
  .container {
    max-width: 608px;
    padding: 3rem 5rem;
  }
}
@media only screen and (width >= 1024px) {
  .container {
    max-width: 920px;
    padding: 2rem;
    flex-direction: row;
    gap: 3rem;
  }
}

/*# sourceMappingURL=output.css.map */
