h1{
  color: $grey-600;
  letter-spacing: 10px;;
  padding-block: $s-400;
}

.input-container{ 
  label{
    color: $grey-500;
    line-height: $s-400;
    font-weight: bold;
  }

    @media only screen and (width >=1024px) {
      max-width: 50%;
    }

  .input-icon-container{
    width: 100%;
    background: $grey-50;
    border-radius: 5px;;
    padding: $s-100 $s-100;
    display: flex;
    align-items: center;
    gap: $s-100;
    margin-top: $s-50;

    img{
      color: $grey-300;
    }

    input{
      color: $green-900;
      text-align: right;
      width: 100%;
      font-size: $fs-300;
    }
  }

  .tip-container{
    margin-block: $s-400;

    .tip-buttons-container{
      margin-top: $s-50;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $s-200;

      @media only screen and (width >= 768px){
        grid-template-columns: repeat(3, 1fr);
      }

      button{
        color: $white;
        background-color: $green-900;
        padding-block: $s-100;
        border-radius: $s-50; 

        &:hover{
          background-color: $green-800;
          cursor: pointer;
        }
      }

      input{
        text-align: center;
        background: $grey-50;
        border-radius: $s-50;
        color: $green-900;

        &::placeholder{
          color: $green-750;
        }
      }

      .tip{
        width: 100%;
        font-size: $fs-300;
      }
    }
  }

  .people-container{
    .label-error-container{
      display: flex;
      flex-direction: column;

      .error-message{
        color: $orange;
        font-weight: bold;
        display: none; 
      }
    }
  }
}

.output-container{
  background: $green-900;
  padding: $s-300;
  border-radius: $s-200;

  @media only screen and (width >=1024px) {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  .output-row{
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $s-300;

    .per-person{
      font-size: $fs-100;
      color: $grey-400;
    }

    .output-value{
      font-size: clamp($fs-400, 6.5vw, $fs-500);
      color: $green-400;
    }
  }

  button{
    width: 100%;
    background-color: $green-400;
    color: $green-900;
    font-size: $fs-200;
    padding-block: $s-100;
    border-radius: $s-50;
    text-transform: uppercase;
    font-weight: bold;

    &:hover{
      background-color: $green-200;
      cursor: pointer;
    }
  }
}

.container{
  background-color: $white;
  max-width: 375px;
  border-radius: $s-400;
  padding: $s-400 $s-600;
  display: flex;
  flex-direction: column;
  gap: $s-300;

  @media only screen and (width >= 700px){
    max-width: 608px;
    padding: $s-600 $s-1000;
  }

  @media only screen and (width >= 1024px) {
    max-width: 920px;
    padding: $s-400;
    flex-direction: row;
    gap: $s-600;
  }
}