// colors
$white: #fff;
$orange: #E17052;
$green: #00ff00;
$green-200: #9FE8DF;
$green-400: #26C2AE;
$green-750: #0D686D;
$green-800: #085C61;
$green-900: #00474B;
$grey-50: #F3F9FA;
$grey-200: #C5E4E7;
$grey-300: #9EBBBD;
$grey-400: #7F9D9F;
$grey-500: #5E7A7D;
$grey-550: #547878;
$grey-600: #3D6666;
$black: #000;

// spacing
$s-50: .25rem;  // 4px
$s-100: .5rem;  // 8px
$s-200: 1rem;   // 16px
$s-300: 1.5rem; // 24px
$s-400: 2rem;   // 32px
$s-600: 3rem;   // 48px
$s-1000: 5rem;  // 80px
$s-1200: 6rem;  // 96px
$s-1500: 9rem;  // 120px
$s-1600: 9.5rem; // 128px  

// font-size
$fs-100: 0.8125rem;  // 13px
$fs-200: 1.25rem;    // 20px
$fs-300: 1.5rem;     // 24px
$fs-400: 2rem;       // 32px
$fs-500: 3rem;       // 48px

// letter spacing
$ls-100: -0.67px;
$ls-200: 1px;

// line-height
$lh-100: 1.1875rem;  // 19px
$lh-200: 1.5rem;     // 24px
$lh-300: 1.875rem;   // 30px
$lh-400: 2.25rem;    // 36px
$lh-500: 2.9375rem;  // 47px
$lh-600: 4.4375rem;  // 71px
